<div id="about" class="page">
  <div class="left">
    <img src="images/author-photo.png" alt="photo">
  </div>
  <div class="right">
    <h2>Hi there! Welcome to my site...</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <a href="#">tempor incididunt</a> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. At vero eos et accusamus et iusto odio dignissimos, ducimus qui blanditiis.</p>
    <h3>Services I provide:</h3>
    <ul>
      <li><img src="images/icon-print.png" alt="Print Design">Print Design</li>
      <li><img src="images/icon-webdesign.png" alt="Web Design">Web Design</li>
      <li><img src="images/icon-development.png" alt="Development">Development</li>
    </ul>
  </div>
</div>