<div id="social" class="page">
  <div class="left">
    <p class="tweet-text">Blanditiis praesentium deleniti atque corrupti quos dolores et quas molestias <a href="http://www.google.com/mail">http://www.google.com/mail</a>.</p>
    <p class="tweet-meta"><a href="#">- 12 hours ago</a></p>
  </div>
  <div class="right">
    <ul>
      <li class="facebook"><a href="#"><img src="images/icon-facebook.png" alt="facebook"> facebook</a></li>
      <li class="flickr"><a href="#"><img src="images/icon-flickr.png" alt="flickr"> flickr</a></li>
      <li class="delicious"><a href="#"><img src="images/icon-delicious.png" alt="delicious"> delicious</a></li>
      <li class="lastfm"><a href="#"><img src="images/icon-lastfm.png" alt="last.fm"> last.fm</a></li>
      <li class="stumbleupon"><a href="#"><img src="images/icon-stumbleupon.png" alt="Stumbleupon"> stumbleupon</a></li>
      <li class="digg"><a href="#"><img src="images/icon-digg.png" alt="digg"> digg</a></li>
    </ul>
  </div>
</div>