<div id="work" class="page">
  <div class="left">
    <img src="images/image-feature.jpg" alt="Featured project">
    <h3><a href="#">Featured Project</a></h3>
    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit...</p>
  </div>
  <div class="right">
    <p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <h3>Print Design:</h3>
    <ul id="work01">
      <li><a href="images/image01.jpg"><img src="images/logo01.jpg" alt="logo01"></a></li>
      <li><a href="images/image02.jpg"><img src="images/logo02.jpg" alt="logo02"></a></li>
      <li><a href="images/image03.jpg"><img src="images/logo03.jpg" alt="logo03"></a></li>
      <li><a href="images/image04.jpg"><img src="images/logo04.jpg" alt="logo04"></a></li>
    </ul>
    <h3>Web Design:</h3>
    <ul id="work02">
      <li><a href="images/image05.jpg"><img src="images/web01.jpg" alt="web01"></a></li>
      <li><a href="images/image06.jpg"><img src="images/web02.jpg" alt="web02"></a></li>
      <li><a href="images/image07.jpg"><img src="images/web03.jpg" alt="web03"></a></li>
      <li><a href="images/image08.jpg"><img src="images/web04.jpg" alt="web04"></a></li>
    </ul>
  </div>
</div>